.Burger {
    width:100%;
    margin:auto;
    height: 350px;
    
    text-align: center;
    font-weight:bold;
    font-size:1.2 rem;
}

.Butger ::-webkit-scrollbar {
    display: none;
}

.Burger {
    -ms-overflow-style: none;
    scrollbar-width: none;
}